html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.header {
  background: url(https://get.pxhere.com/photo/desk-computer-writing-table-workspace-desktop-gadget-monitor-brand-design-172944.jpg) no-repeat center center; 
  background-size: cover;
  height: 800px;
  text-align: center; 
}

.header .container {
  position: relative;
  top: 200px;
}

